$max-item-width: 200px;
$margin: 16px;
$menu-break: 375px;
$mob-break: 320px;
$tab-break: 768px;
$ham-sect-height: 45px;
$ham-color: #999;
$light-bkg-color: #f1f1f1;

$grid-gap-mob: 36px;
$grid-gap-tab: 26px;
$grid-gap-desk: 80px;


