@import "constants.scss";

#ham-wrp{
  width: 100%;
  height: 45px;
  border-bottom: 1px solid #eee;
  position: absolute;
  background-color: #fff;
  z-index: 2;
  display: block;
  @media (min-width: $menu-break){
    display: none;
  }
}
.ham-icon-span-wrp {
  width: 60px;
  height: 45px;
  position: relative;
  cursor: pointer;
  transform: scale(.5);
  #mob-menu-toggle:checked ~ #ham-wrp & {
    transform: scale(.375);
  }
  span{
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: all .25s ease-in-out;
    background-color: $ham-color;
    transform-origin: left center;
    #mob-menu-toggle:checked ~ #ham-wrp & {
      background-color: lighten($ham-color,30%);
    }
    &:nth-child(1) {
      top: 0px;
      #mob-menu-toggle:checked ~ #ham-wrp & {
        transform: rotate(45deg);
        top: -3px;
        left: 8px;
      }
    }
    &:nth-child(2) {
      top: 18px;
      #mob-menu-toggle:checked ~ #ham-wrp & {
        width: 0%;
        opacity: 0;
      }
    }
    &:nth-child(3) {
      top: 36px;
      #mob-menu-toggle:checked ~ #ham-wrp & {
        transform: rotate(-45deg);
        top: 39px;
        left: 8px;
      }
    }
  }
}

